@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'flowbite';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: #075985;
  opacity: 0.9;
  background: radial-gradient(circle, transparent 20%, #075985 20%, #075985 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #075985 20%, #075985 80%, transparent 80%, transparent) 25px 25px, linear-gradient(#153445 2px, transparent 2px) 0 -1px, linear-gradient(90deg, #153445 2px, #075985 2px) -1px 0;
  background-size: 50px 50px, 50px 50px, 25px 25px, 25px 25px;
}
